# Introduction to Machine Learning  Workshop Series by HMTE UP


## Session 1: Introduction to Python

##### Author: Anggita Permatasari, S.T

##**Welcome!**

In this module, we will learn more about **Basic Python Programming**. Hope you enjoy!

If you have any question regarding this module, don't hesitate to hit me up through:

https://www.instagram.com/anggitaaps/

https://www.linkedin.com/in/anggitaaps/

# :)

## **Disclaimer [PLEASE READ]**
This following module is written by **Anggita Permatasari** for **Introduction to Machine Learning Workshop by HMTE UP 2021**. This notebook is intended for **personal use** only by the individuals who registered to the workshop. Please do not reproduce and distribute this notebook in any form outside these individuals without permission.

Thank you for understanding, cheers!

## **Introduction**

Machine learning is the subfield of computer science that gives "computers the ability to learn without being explicitly programmed". The term machine learning was coined in 1959 by **Arthur Samuel**, an American IBMer and pioneer in the field of computer gaming and artificial intelligence. 

Machine learning algorithms build a model based on sample data, known as "training data", in order to make predictions or decisions without being explicitly programmed to do so. Machine learning algorithms are used in a wide variety of applications, such as face recognition, online translator, map ETA prediction, etc.

## Outline

- Python Language Structures
  - Statements
  - Variables
  - Literals
  - Operators
  - Reserved Words
  - White Spaces
  - Comments

- Python Data Types
  - Null Type
  - Boolean Type
  - Numeric Type
  - Text Type
  - Sequence Type
  - Set Type
  - Mapping Type

- Python Operators
  - Arithmetic Operators
  - Assignment Operators
  - Comparison Operators
  - Logical Operators
  - Identity Operators
  - Membership Operators

- Python Conditional Statements
  - IF
  - ELSE
  - ELSE IF (ELIF)
  - Nested IF

- Python Looping and Function
  - FOR
  - WHILE
  - Function
    - Local Scope
    - Function in Function
    - Global Scope

- Python Class, Object and Modules
  - Class and Objects
  - Modules

# A. Python Language Structures

**1. Statement**

  Statement is the instructions of each line. Print('') is one of the easiest statement

In [ ]:
print('Hai temen2 saya Anggita')

Hai temen2 saya Anggita

In [ ]:
print("Hello! My name is Anggita")

Hello! My name is Anggita

**2. Variables**

  as a temporary container to store a data value or information.

In [ ]:
Semangka = 5

Think of a variable as a name attached to a particular object. In Python, variables are not needed to be declared or defined in advance, as in the case in many other programming languages. To create a variable, you just assign it a value and then start using it.

    Python Variable's Naming Rules:
    - The variable name must start with an alphabet (a-z, A-Z) or underscore (_) and cannot start with number (0–9).
    - The variable name can only contain alphabets, underscores and numbers.
    - The variable name is a case sensitive.

Tips: To name a variable, used a word that represent the value. Example: `number_1`, `word2`

**3. Literals**

  the symbols, numbers or words used 
to be located in variables as an information

In [ ]:
x = "this is called an literal"

**4. Operators**

  to create interaction between two or more variables and literals. 
Example: +, -, *, etc.

In [ ]:
a = 2
b = 3
c = a + b 

c

**5. Reserved Words**

words that have a specific meaning. 
Example: True, False, return.

In [ ]:
a = 6
b = 4

a is b
a is not b


**6. White Spaces**

spacing and tabs (indentation) in Python. Indentation is important in Python, so be careful!

In [ ]:
a =10


if a >= 5:
  a+=1
else:
  a-=1

print(a)

**7. Comments**

a non code texts. 
There are two kind of comments, single-line comment and multi-line comment.

In [ ]:
# Hello, this is comment! use # for single line comment

In [ ]:
'''

  Hello,
  This is another comment section!
  Use (''' ''') for multi-line comments.

'''

# B. Python Data Type

**1. Null Type**

data type used to store a null or zero value called **None**

In [ ]:
def has_no_return():
    pass

has_no_return()
print(has_no_return())

None

**2. Boolean Type**

data type used to store logical values (True or False) called **bool**

In [ ]:
a = 6
b = 4

In [ ]:
a is b

False

In [ ]:
a is not b

True

**3. Numeric Type**

data type used to store numeric values. There are two type of numeric data types: **integer** and **float**.



*   Integer

  int is used to store integer value both positive or negative (-inf, +inf).

In [ ]:
x = 10

In [ ]:
y = -3

*   Float

  float is used to store real value either positive, negative or decimals.

In [ ]:
x = 10.5

In [ ]:
y = -4.5

**4. Text Type**

data type used to store text data, called string or str. A string data type must start with a single or double quotation mark ('…' / "…")

In [ ]:
x = "Selamat siang temen-temen!"

x

'Selamat siang temen-temen!'

**5. Sequence Type**

data type used to store a group of sequenced data, such as List and Tuples.

*   List

  List is a **mutable** sequence data type. Mutable means that every single data in the list can be accessed and modified. To make a list, use a bracket with a comma as separator.

In [ ]:
List_1 = ['a', "b", 1.0]

A data in the list can be accessed using syntax:

 `list_name[index]`

In [ ]:
List_1[2]

1.0

and can be modified using syntax:

 `list_name[index] = values`

In [ ]:
List_1[2] = 'c' 
List_1

['a', 'b', 'c']

to delete an element in a list:

 `del list_name[index]`

In [ ]:
del List_1[1]
List_1

['a', 'c']

*   Tuples

  Tuple is also a sequence data type but **immutable**. In contrary with mutable, immutable means that the every single data in the tuple can be accessed, but cannot be modified. To make a tuple, use a parentheses with a comma as separator.

In [ ]:
Tuple_1 = ('January','February','March','April')

A data in the tuple can be accessed using syntax:

`tuple_name[index]`

In [ ]:
Tuple_1[0]

'January'

but remember, it can not be modified.

In [ ]:
#example

Tuple_1[2] = 'October'

TypeError: ignored

**6. Set Type**

data type used to store a group of not sequenced data. There are two more types of set data types: **set** and **frozenset**.

In contrary with sequenced type data, a set is group of **unique** and **not sequenced** data. Unique means that there are no repetition of value (double value) in a set. Also a not sequenced data means that we cannot access the data by indexing. To make a set, use a brace with a comma as separator.

In [ ]:
Set_1 = {'January', 'February', 'March', 'April'}

To access data in a set, we can not do indexing. Instead, use looping.

In [ ]:
for month in Set_1:
	print(month)

April
February
March
January

To modify data in a set, we need to use another command method.


*   To add a new element

    `set.add(element)`

In [ ]:
Set_1.add('May')

Set_1

{'April', 'February', 'January', 'March', 'May'}

*   To remove an element

    `set.discard(element)`

In [ ]:
Set_1.discard('January')

Set_1

{'April', 'February', 'March', 'May'}

**Frozen Set**

A frozen set technically is a set inside a tuple, so definitely, it's immutable! That means, every single data in the set cannot be modified once declared.

In [ ]:
Frozenset_1 = ({'January', 'February', 'March', 'April'})

**7. Mapping Type**

data type used to map a value into another value. In Python, data mapping type is called a **dictionary**.

Dictionary is a data mapping type in Python. To make a dictionary, use a brace with a comma as separator. Inside the brace, use colon to divide between the **keyword** and **value**.

In [ ]:
Dict_1 = {'Name':'Anggita', 'Age':22, 'Domicile':'Jakarta'}

A data in the dict can be accessed using syntax:

`print(dict[keyword])`

In [ ]:
print(Dict_1['Name'])

Anggita

# C. Python Operators

**1. Arithmetic Operators**

used for basic mathematical operation of numerical data type.

In [ ]:
# Consider these variables:

a = 5
b = 9



*   Addition

In [ ]:
add = a+b

add

14



*   Substraction

In [ ]:
subs = a-b

subs

-4



*   Multiplication

In [ ]:
mpy = a*b

mpy

45



*   Division

In [ ]:
dvd = a/b

dvd

0.5555555555555556



*   Modulus

In [ ]:
mod = a%b

mod

5



*   Square (Power)

In [ ]:
pow = a**b

pow

1953125



*   Floor Division

In [ ]:
floor = a//b

floor

0

**2. Assignment Operators**

used to declare a value directly to a variable. The operators are just the same with the arithmetic ones.

![1_eUMhU6PdH2puQkevbn2SpQ.png]()

**3. Comparison Operators**

used to compare between two values.



*   Equal

In [ ]:
equal = a == b

equal

False



*   Not Equal

In [ ]:
nequal = a != b
nequal

True



*   Greater Than

In [ ]:
greater = a > b
greater

False



*   Less Than

In [ ]:
less = a < b
less

True



*   Greater Than or Equal To

In [ ]:
great_or_equal = a >= b

great_or_equal

False



*   Less Than or Equal To

In [ ]:
less_or_equal = a <= b 

less_or_equal

True

**4. Logical Operators**

used to combine conditional statements.



*   AND


Returns True if both of operands are true

In [ ]:
a

5

In [ ]:
a < 1 and a > 5

False

In [ ]:
a < 10 and a > 2

True



*   OR


Returns True if one of the operand is true

In [ ]:
a < 1 or a > 5

False

In [ ]:
a < 5 or a > 1

True



*   NOT


Returns True if the result is complementary.

In [ ]:
not(a <= 3)

True

**5. Identity Operators**

used to compare the identity between two variables. Identity operators commonly used along with type() function to identify the data type.



*   is


Returns True if the operands are identical

In [ ]:
b

9

In [ ]:
a is b

False



*   is not


Returns True if the operands are not identical

In [ ]:
a is not b

True

**6. Membership Operators**

used to test if a sequence or set is presented in an object.



*   in


Returns True if value/variable is found in the sequence or set

In [ ]:
name = 'Anggita Permatasari'

print('Steve' in name)

False



*  not in


Returns True if value/variable is not found in the sequence or set

In [ ]:
name = 'Anggita Permatasari'

print('Anggita' not in name)

False

# D. Python Conditional Statements

**1. IF**

An if statement consists of a boolean expression followed by one or more statements, will execute when a condition is fulfilled.

In [ ]:
score = 60

if score >=79:
    print('Congratulation, you have passed!')

**2. ELSE**

An else statement executes when the boolean expression is FALSE.

In [ ]:
score = 106

if score >=79:
    print('Congratulation, you have passed the test!')
else:
    print('Sorry, you have failed the test.')

Congratulation, you have passed the test!

**3. ELSE IF (ELIF)**

An elif statement allows us to check multiple expressions for TRUE and execute the statement as soon as one of the conditions is fullfilled.

In [ ]:
score = 100

if score >=20 and score <45:
    print('Grade D')
elif score >=45 and score <60:
    print('Grade C')
elif score >=60 and score <85:
    print('Grade B')
elif score >=85 and score <=100:
    print('Grade A')
else:
    print('Grade E')

Grade A

**4. NESTED IF**

A nested if statement is when there is another statement that will executed only if one condition is fullfilled. We can say that there are some ifs in an if.

In [ ]:
administration = True
passed_test = True
intv_HR = False
intv_VP =True
MCU = True

if administration:
    print('Passed')
    
    if passed_test:
        print('Passed')
        
        if intv_HR:
            print('Passed')
        
            if intv_VP:
                print('Passed')
                
                if MCU:
                    print('Passed')  
                    print('Congratulation, you have passed the admission!')
                else:
                    print('Sorry, you have failed')
            else:
                print('Sorry, you have failed')
        else:
            print('Sorry, you have failed')
    else:
        print('Sorry, you have failed')
else:
    print('Sorry, you have failed')

Passed
Passed
Sorry, you have failed

# E. Python Looping and Function

**1. FOR**


used for repetitions (looping) with a certain range or with the number of looping desired.

In [ ]:
for x in range(0, 5):
    print('x = ' + str(x))

x = 0
x = 1
x = 2
x = 3
x = 4

In [ ]:
for x in range(0, 15):
    print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
things = ['table', 'chair', 'bed', 'desk lamp']

for x in things:
    print(x)

table
chair
bed
desk lamp

In [ ]:
fruits = ['apple', 'banana', 'orange', 'watermelon']

for x in fruits:
    print(x)
    if x == "orange":
        break

apple
banana
orange

**2. WHILE**


used for looping with an unknown number of repetitions, and will continue to loop until it is stopped. The while loop operation can be terminated under certain conditions.

In [ ]:
x = 5

while x < 10:
    print(x)
    x += 1

5
6
7
8
9

In [ ]:
x = 0
while x < 50:
    print(x)
    x += 10

0
10
20
30
40

In [ ]:
x = 100
while x > 50:
    print(x)
    x -= 10

100
90
80
70
60

In [ ]:
number = 7

while number > 0:
    print(number)
    number = number - 1

7
6
5
4
3
2
1

**3. Function**


A function is a block of code that only runs when called. We can send data or parameters into a function and then it can be returned as a result.



*   Local Scope

    variables created within a function belong only to that function and can only be used in that function.

In [ ]:
def myfirstfunction(name):
    print("My name is " + name)

In [ ]:
myfirstfunction("Steve")

My name is Steve

if you want to store and return the result, use `return`

In [ ]:
def factorial(x):
    if x == 0:
        return 1
    else:
        return x * factorial(x-1)
    
x=int(input("Masukkan angka : "))
print(factorial(x))

Masukkan angka : 10
3628800



*   Function Inside Function

    a function within a function

In [ ]:
def myfirstfunction(name):
    print("My name is " + name)
    def myinnerfunction(age):
        print("My age is " + age)

    myinnerfunction("22")
myfirstfunction("Anggita")

My name is Anggita
My age is 22



*   Global Scope

    variables are created in the main body and be a global variable. It can be used for any scope

In [ ]:
name = "Anggita"

def myfirstfunction():
    print("My name is " + name)
    
myfirstfunction()

My name is Anggita

# F. Python Class, Object and Modules

**1. Class and Objects** 


Think of a class as an object constructor, or a "blueprint" for creating objects.

To make a class, use keyword
 `class`

In [ ]:
class MyFirstClass:
    name = "Anggita"

Now we can use the class named `MyFirstClass` to create objects:

In [ ]:
obj1 = MyFirstClass()
print(obj1.name)

Anggita

**The example above is the simplest Class and Object form.**

In general, in the use of a Class, there is an initialization function (__init__) used. This function serves to assign a value to an object property or other operation that needs to be performed while the object is being created.

In [ ]:
class Myself:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
p1 = Myself('Anggita', 22)

print(p1.name)
print(p1.age)

Anggita
22

**2. Modules** 


A module is a file that contains a set of functions or codes that you want to include in your main code.

to import a module to your notebooks use this syntax:

`import your_module`

or

`import your_module as mod`

**Commonly used module:**



*   Numpy

In [ ]:
import numpy as np


*   Matplotlib

In [ ]:
import matplotlib.pyplot as plt


*   Scipy

In [ ]:
import scipy


*   Scikitlearn

In [ ]:
import sklearn


*   Pandas

In [ ]:
import pandas as pd

# Thank you!

Thank you for using this module, I hope you enjoy and learn much more from this module:)

Best Regards,

Anggita